<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.appkondisijalan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GPS_PROVIDER" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Laporan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LaporanActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:label="Daftar Akun" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login"
            android:noHistory="true" />
        <activity
            android:name=".activity.TambahLaporanActivity"
            android:label="Tambah Laporan" />
        <!-- [START firebase_service] -->
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

        <activity
            android:name=".activity.DetailLaporanActivity"
            android:label="@string/title_activity_detail_laporan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailBroadcastActivity"
            android:label="@string/title_activity_detail_broadcast"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>